#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |  MUTE      |   ESC   |    Q    |    W    |    F    |    P    |    G    |                      |    J    |    L    |    U    |    Y    |    ;    |    \    |  PGUP   |
// |  VOL UP    |   TAB   |    A    |    R    |    S    |    T    |    D    |                      |    H    |    N    |    E    |    I    |    O    |    UP   |  PGDN   |    |
// |  VOL DWN   |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                      |    K    |    M    |    ,    |    .    |  LEFT   |   DOWN  |  RIGHT  |
//                                            |   GUI   |  LOWER  | RETURN  |   DEL   |  |   BSPC  |  SPACE  |  RAISE  |  R ALT  |         |                                
            bindings = <                                                                                                                                     
    &kp C_MUTE   &kp ESC    &kp Q     &kp W     &kp F     &kp P     &kp G                            &kp J     &kp L     &kp U     &kp Y     &kp P    &kp BSLH  &kp PG_UP
    &kp C_VOL_UP &kp TAB    &kp A     &kp R     &kp S     &kp T     &kp D                            &kp H     &kp N     &kp E     &kp I     &kp O    &kp UP    &kp PG_DN
    &kp C_VOL_DN &kp LSHIFT &kp Z     &kp X     &kp C     &kp V     &kp B                            &kp K     &kp M     &kp COMMA &kp DOT   &kp LEFT &kp DOWN  &kp RIGHT
                                                &kp LGUI  &mo LOWER &kp SHIFT &mo DEL      &mo BSPC  &kp SPACE &mo RAISE &kp RALT
            >;

    };
};